# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# --------------------
# Environment / secrets
# --------------------
.env
.env.*

# --------------------
# Neo4j local data
# --------------------
.neo4j/
data/
logs/
import/
plugins/

# --------------------
# Docker
# --------------------
*.pid

# --------------------
# OS / Editor
# --------------------
.DS_Store
.idea/
.vscode/
